<form action="." method="post">
    <p>
        <label for="titulo">Titulo:</label>
        <input type="text" id="titulo" name="titulo" placeholder="Ingrese su título aquí" required />
    </p>
    <p>
        <label for="text">Texto:</label>
        <input type="text" id="texto" name="texto" required />
    </p>
    <p>
        <label for="date">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required />
    </p>

    <p>
        <input type="submit" name="guardar" value="Guardar!" />
        <input type="submit" name="guardar_editar" value="Guardar y seguir editando!" />
    </p>
</form>
