{% load staticfiles %}
<html>
<head>
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body>
    <h1 id="titulo">{% block titulo %}Titulo{% endblock %}</h1>

    <div id="contenido">
        {% block contenido %}
            <p>Contenido</p> 
        {% endblock %}
    </div>

    <div id="footer">
        <p>Gracias por visitarnos</p> 
        <p>Hecho en Django</p> 
    </div>

    <script>
        var url_contador_ajax = "{% url 'contador_noticias_ajax' %}";
        var url_lista_ajax = "{% url 'lista_noticias_ajax' %}";
    </script>
    {% block extra_js %}
    {% endblock %}

</body>
</html>
