grupo-01|git|github|code,wiki|npelle/seia-gpv|Augusto Gauchat, Nicolás Pellegrinet, Gastón Volken, Comunidad para Desarrolladores, .Net
grupo-02|git|bitbucket|code,wiki|WenAle/seia-barsotti-sclerandi|Alejandro Barsotti, Wendy Sclerandi, Comunidad con temática Películas y Series, Django
grupo-03|git|bitbucket|code,wiki|JosePron/seia2017|Jose Pron, Nicolás Rodríguez, Locos por la plancheta, .Net
grupo-04|git|github|code,wiki|MaxiTalenti/IngenieriaWeb|Emanuel Colombo, Maximiliano Talenti, Tamara Morlaci, Comunidad con temática "Eventos", .Net
grupo-05|git|github|code,wiki|EzeAlbornoz5/TP-Ingenieria-web|Ezequiel Albornoz, Misael Bruera, Ricardo Canavese, Ariel Zanoni, Comunidad de Empresas de Transporte, Django
grupo-06|git|bitbucket|code,wiki|JLazzaroni/ingenieriaweb|José Lazzaroni, Matias Gueli, Osvaldo Mayer, Comunidad para Artesanos, .Net
grupo-07|git|github|code,wiki|giocastagno/I.W._Delpuppo_Kopech_Castagno|Camila Kopech, Miguel Delpuppo, Giorgina Castagno, Comunidad de Itinerarios Turísticos, Django
grupo-08|git|github|code,wiki|d22m9p92/IngWeb|Alexis Imhoff, Marianela Rodriguez, Karen Imhoff, David Parmit, Comunidad para Remates de Objetos Usados, Django
grupo-09|git|bitbucket|code,wiki|falarcon02/ingenieriaweb|Fernando Alarcón, Mauro Bianco, Agustín Pieruccioni, Tesio Gianlica, Comunidad de Empleadores y Empleados, Django
