@model Comunidad.Models.User

@{
    ViewBag.Title = "Crear usuario";
}

<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Usuario</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>


