<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estilos.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    {% block js_extra %}
    {% endblock %}
</head>

<body>

<h1 id="el_titulo">Noticias.com</h1>

{% block contenido %}
  <p>nada que ver aquí</p>
  {% include 'publicidad.html' %}
{% endblock %}

<div id="pie_pagina">
  <p>adeu!</p>
  <p>volvete</p>
</div>
</body>
</html>
